<!-- <button (click)="compareWithJobDescription()" *ngIf="extractedText">Check ATS Score</button>
<p *ngIf="similarityScore" style="font-weight: bold;">Match Score: {{ similarityScore().toFixed(2) }}%</p> -->

<div style="margin-bottom: 2rem; width: 100%; justify-content: center;">
    <p-floatlabel variant="on">
        <input pInputText id="on_label" [(ngModel)]="jobDescription" autocomplete="off" pSize="large" style="width: 100%;" maxlength="80" />
        <label for="on_label">Job Description here - Example: Full Stack Software Engineer</label>
    </p-floatlabel>
</div>
<p-toast />
<p-panel>
    @if (uploadedFiles.length > 0) {
        <div style="text-align: center;">
            <div class="icon-container">
                <i class="pi pi-file-check"></i>
            </div>
            <h2>{{ uploadedFiles }}</h2>
            <p-button icon="pi pi-times" [rounded]="true" severity="danger" (onClick)="ClearFile()" [outlined]="true" />
        </div>
    } @else {
        <div style="text-align: center;" class="drop-area" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
            <div class="icon-container">
                <i class="pi pi-cloud-upload"></i>
            </div>
            <h2>Drag & Drop your resume here</h2>
            <p>or</p>
            <p-fileUpload 
                mode="basic" 
                name="demo[]" 
                chooseIcon="pi pi-upload"
                accept=".pdf,.docx,.doc" 
                maxFileSize="3000000" 
                [auto]="true"
                chooseLabel="Attach File"
                (onSelect)="onFileSelect($event)" />
            <p>Supported formats: PDF, DOCX, DOC (Max 3MB)</p>
        </div>
    }
</p-panel>
<div style="display: flex; justify-content: center; margin-top: 2rem;">
    <p-button 
        label="Analyze Resume" 
        [style]="{'font-size': '1.5rem', 'padding': '1rem 1.5rem'}" 
        (onClick)="compareWithJobDescription()" 
        icon="pi pi-sparkles" 
        [raised]="true" 
        size="large" 
    />
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 1)" size = "medium" color = "#fff" type = "line-scale-party" [fullScreen] = "true" name="analyzeSpinner"><p style="color: white" > ATS Magic in Progress: AI Analyzing Your Resume... </p></ngx-spinner>