.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid var(--p-zinc-100);
  margin: auto;
}

.icon-container i {
  font-size: 2.5rem;
  color: var(--p-zinc-500);
}

.drop-area {
  cursor: grabbing;
  
  @supports (-webkit-touch-callout: none) {
    cursor: -webkit-grabbing;
  }
}

@keyframes dimLightAnimation {
  0%,
  100% {
    opacity: 0.3; //Dim (half opacity)
  }
  50% {
    opacity: 1; //Full opacity (light)
  }
}

.icon-container {
  animation: dimLightAnimation 3s ease-in-out infinite;
}