h1 {
  font-size: 2.5rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin: 0 0 3rem 0;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 3rem;
}

.first-panel {
  width: 60rem;
  margin: 3rem 0 0 0;
}

@media (max-width: 900px) {
  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card2, p-knob, h1, h2 {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
  }

  .second-panel,
  .thired-panel, 
  .fourth-panel,
  .fifth-panel {
    display: none;
  }
  .center-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}