<div class="header-container">
    <h1>AI-Powered ATS Resume Scoring</h1>
    <h2>Optimize for Success!</h2>
    <h3>Attach your resume and get instant feedback on its ATS compatibility score</h3>

    <app-cv-upload />
    
    <p-button label="Analyze Resume" icon="pi pi-sparkles" [raised]="true" size="large" />

    <div style="margin-top: 1rem; display: flex; align-items: center;">
        <span class="pi pi-shield" style="font-size: 1.2rem; font-weight: bold; margin-right: 0.5rem;"></span><h4 style="margin: 0 1.5rem 0 0;">100% Secure</h4>
        <span class="pi pi-bolt" style="font-size: 1rem; font-weight: bold; margin-right: 0.5rem;"></span><h4 style="margin: 0 1.5rem 0 0;">Instant Results</h4>
        <span class="pi pi-eye-slash" style="font-size: 1.2rem; font-weight: bold; margin-right: 0.5rem;"></span><h4 style="margin: 0;">Privacy Protected</h4>
    </div>    
</div>